# データの加工や集計：pandas

In [1]:
#パッケージの読み込み
import pandas as pd

In [2]:
#変数dfを宣言
df = pd.read_csv('sample.csv', index_col="Team")

* read_csv(読み込むファイルの名前, インデックスに使う列の先頭に書いてある文字列)

In [3]:
#Homeの中に入っている、sample.csvと見比べてみる
df

           Win  Draw  Lose
Team
Japan        3     0     0
Iraq         2     0     1
Jordan       1     0     2
Palestine    0     0     3

In [4]:
#抜き出す行をインデックスで指定する
df.ix["Iraq"]
df["Win"]

Team
Japan        3
Iraq         2
Jordan       1
Palestine    0
Name: Win, dtype: int64

In [5]:
#どのチームが何回勝ったのか知りたいとき
df['Win']

Team
Japan        3
Iraq         2
Jordan       1
Palestine    0
Name: Win, dtype: int64

In [6]:
#2回以上勝ったチームを知りたいとき
df[df.Win>=2]

       Win  Draw  Lose
Team
Japan    3     0     0
Iraq     2     0     1

In [7]:
#試合数を求める
df.sum()

Win     6
Draw    0
Lose    6
dtype: int64

In [8]:
#↓は行に対するの演算
print(df.sum(axis=1))

Team
Japan        3
Iraq         3
Jordan       3
Palestine    3
dtype: int64

In [9]:
#今までのテクニックの組み合わせも使える
#↓は１勝以上したチームの試合回数合計
print(df[df.Win > 1].sum(axis=1))

Team
Japan    3
Iraq     3
dtype: int64

In [10]:
#jsonファイルに記録しよう！
df.to_json('sample.json', orient='index')

## クロス集計

In [11]:
#データの読み込み「./」はソースコードと同じディレクトリを表しています。
#無くても動くけど、あった方が安心
df2 = pd.read_csv("./sample2.csv")

In [12]:
df2

         date    item  price
0  2015-01-01   apple    300
1  2015-01-01   apple    300
2  2015-01-01  orange    250
3  2015-01-02  orange    240
4  2015-01-02  orange    240
5  2015-01-02  banana    260

In [13]:
#価格の合計を出したい時
df2.pivot_table(index='date', columns="item", aggfunc="sum")

            price
item        apple banana orange
date
2015-01-01  600.0    NaN  250.0
2015-01-02    NaN  260.0  480.0

In [14]:
 #価格の平均を出したい時
df2.pivot_table(index='date', columns="item", aggfunc="mean")

            price
item        apple banana orange
date
2015-01-01  300.0    NaN  250.0
2015-01-02    NaN  260.0  240.0

In [15]:
#データの出現回数を計測したい時
df2.pivot_table(index='date', columns="item", aggfunc='count')

           price
item       apple banana orange
date
2015-01-01   2.0    NaN    1.0
2015-01-02   NaN    1.0    2.0

In [16]:
# pandasバージョン 0.16ではpivot_tableのパラメータが少し変わっているので注意です

In [17]:
df2.pivot_table(values="price", index="date", columns="item", aggfunc=[len])

             len
item       apple banana orange
date
2015-01-01   2.0    NaN    1.0
2015-01-02   NaN    1.0    2.0