In [43]:
from IPython.html import widgets
@widgets.interact
def f(s=(5, 30)):
    return (sample_dateframe.style.background_gradient('winter', low=2.).set_properties(**{'font-size': '{0}px'.format(s)}))

interactive(children=(IntSlider(value=17, description='s', max=30, min=5), Output()), _dom_classes=('widget-in…

# データの加工や集計：pandas

In [20]:
#パッケージの読み込み
import pandas as pd

# データの加工や集計：pandas

In [49]:
# CSVファイルからデータフレームを作成する
sample_dateframe = pd.read_csv('sample.csv', index_col="Team")
sample_dateframe.style.set_properties(**{'font-size': '{0}px'.format(50)})

In [22]:
#Homeの中に入っている、sample.csvと見比べてみる
sample_dateframe

           Win  Draw  Lose
Team
Japan        3     0     0
Iraq         2     0     1
Jordan       1     0     2
Palestine    0     0     3

<img src="./sample_csv_file.png" width="600">

# データの加工や集計：pandas
## いろいろな集計をやってみよう！

In [26]:
#抜き出す行をインデックスで指定する
sample_dateframe.loc["Iraq"]
sample_dateframe["Win"]

Team
Japan        3
Iraq         2
Jordan       1
Palestine    0
Name: Win, dtype: int64

In [27]:
#どのチームが何回勝ったのか知りたいとき
sample_dateframe['Win']

Team
Japan        3
Iraq         2
Jordan       1
Palestine    0
Name: Win, dtype: int64

In [28]:
#2回以上勝ったチームを知りたいとき
sample_dateframe[sample_dateframe.Win>=2]

       Win  Draw  Lose
Team
Japan    3     0     0
Iraq     2     0     1

# データの加工や集計：pandas
## いろいろな集計をやってみよう！

In [29]:
#試合数を求める
sample_dateframe.sum()

Win     6
Draw    0
Lose    6
dtype: int64

In [30]:
#↓は行に対するの演算
print(sample_dateframe.sum(axis=1))

Team
Japan        3
Iraq         3
Jordan       3
Palestine    3
dtype: int64

In [31]:
#今までのテクニックの組み合わせも使える
#↓は１勝以上したチームの試合回数合計
print(sample_dateframe[sample_dateframe.Win > 1].sum(axis=1))

Team
Japan    3
Iraq     3
dtype: int64

In [32]:
#jsonファイルに記録しよう！
sample_dateframe.to_json('sample.json', orient='index')

<img src="./sample_json_file.png">

# データの加工や集計：pandas
## クロス集計

In [39]:
# データの読み込み
sample2_dateframe = pd.read_csv("./sample2.csv")

In [40]:
sample2_dateframe

         date    item  price
0  2015-01-01   apple    300
1  2015-01-01   apple    300
2  2015-01-01  orange    250
3  2015-01-02  orange    240
4  2015-01-02  orange    240
5  2015-01-02  banana    260

# データの加工や集計：pandas
## クロス集計

In [41]:
#価格の合計を出したい時
sample2_dateframe.pivot_table(index='date', columns="item", aggfunc="sum")

            price
item        apple banana orange
date
2015-01-01  600.0    NaN  250.0
2015-01-02    NaN  260.0  480.0

# データの加工や集計：pandas
## クロス集計

In [17]:
 #価格の平均を出したい時
sample2_dateframe.pivot_table(index='date', columns="item", aggfunc="mean")

            price
item        apple banana orange
date
2015-01-01  300.0    NaN  250.0
2015-01-02    NaN  260.0  240.0

# データの加工や集計：pandas
## クロス集計

In [36]:
#データの出現回数を計測したい時
sample2_dateframe.pivot_table(index='date', columns="item", aggfunc='count')

           price
item       apple banana orange
date
2015-01-01   2.0    NaN    1.0
2015-01-02   NaN    1.0    2.0