# データの加工や集計：pandas

In [2]:
#パッケージの読み込み
import pandas as pd

# データの加工や集計：pandas

In [9]:
# CSVファイルからデータフレームを作成する
sample_dateframe = pd.read_csv('sample.csv', index_col="Team")
sample_dateframe.style.set_properties(**{'font-size': '{0}px'.format(50)})

<img src="./sample_csv_file.png" width="600">

# データの加工や集計：pandas
## いろいろな集計をやってみよう！

In [24]:
#抜き出す行をインデックスで指定する
sample_dateframe.loc["Iraq"]

Win     2
Draw    0
Lose    1
Name: Iraq, dtype: int64

In [45]:
#どのチームが何回勝ったのか知りたいとき
sample_dateframe['Win']

Team
Japan        3
Iraq         2
Jordan       1
Palestine    0
Name: Win, dtype: int64

In [46]:
#2回以上勝ったチームを知りたいとき
sample_dateframe[sample_dateframe.Win>=2].style.set_properties(**{'font-size': '{0}px'.format(50)})

# データの加工や集計：pandas
## いろいろな集計をやってみよう！

In [47]:
#試合数を求める
sample_dateframe.sum()

Win     6
Draw    0
Lose    6
dtype: int64

In [48]:
#↓は行に対するの演算
sample_dateframe.sum(axis=1)

Team
Japan        3
Iraq         3
Jordan       3
Palestine    3
dtype: int64

In [49]:
#今までのテクニックの組み合わせも使える
#↓は１勝以上したチームの試合回数合計
print(sample_dateframe[sample_dateframe.Win > 1].sum(axis=1))

Team
Japan    3
Iraq     3
dtype: int64

In [50]:
#jsonファイルに記録しよう！
sample_dateframe.to_json('sample.json', orient='index')

<img src="./sample_json_file.png">

# データの加工や集計：pandas
## クロス集計

In [51]:
# データの読み込み
sample2_dateframe = pd.read_csv("./sample2.csv")

In [53]:
sample2_dateframe.style.set_properties(**{'font-size': '{0}px'.format(50)})

# データの加工や集計：pandas
## クロス集計

In [54]:
#価格の合計を出したい時
sample2_dateframe.pivot_table(index='date', columns="item", aggfunc="sum").style.set_properties(**{'font-size': '{0}px'.format(50)})

# データの加工や集計：pandas
## クロス集計

In [55]:
 #価格の平均を出したい時
sample2_dateframe.pivot_table(index='date', columns="item", aggfunc="mean").style.set_properties(**{'font-size': '{0}px'.format(50)})

# データの加工や集計：pandas
## クロス集計

In [56]:
#データの出現回数を計測したい時
sample2_dateframe.pivot_table(index='date', columns="item", aggfunc='count').style.set_properties(**{'font-size': '{0}px'.format(50)})